<p id="notice"><%= notice %></p>

<p>
  <b>Referencenumber:</b>
  <%= @equipment.referencenumber %>
</p>

<p>
  <b>Equipment type:</b>
  <%= @equipment.equipment_type_id %>
</p>

<p>
  <b>Make:</b>
  <%= @equipment.make %>
</p>

<p>
  <b>Model:</b>
  <%= @equipment.model %>
</p>

<p>
  <b>Licencenumber:</b>
  <%= @equipment.licencenumber %>
</p>

<p>
  <b>Capacity:</b>
  <%= @equipment.capacity %>
</p>

<p>
  <b>Availability:</b>
  <%= @equipment.availability %>
</p>
