<%= form_for(@equipment_type) do |f| %>
  <% if @equipment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment_type.errors.count, "error") %> prohibited this equipment_type from being saved:</h2>

      <ul>
      <% @equipment_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Equipment Type' %>:
    <%= f.text_field :equipmenttype %>
  </div>
  <div class="actions">
    <%= f.submit %>&nbsp;<%= submit_tag 'Cancel' %>
  </div>
<% end %>
